.skillSection {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem 0;
}

.skillSectionTitle {
  font-size: 1.5rem;
  font-weight: 600;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  justify-content: flex-end;
}
