.certificate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.certificateTitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}

.certificateList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
}
