.workContainer {
  font-size: 1.2rem;
  margin: 3rem;
}

.workContainer:first-of-type {
  margin-top: 6rem;
}

.workInfo {
  text-align: right;
  padding: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 30%;
}

.workInfo:last-of-type {
  margin-bottom: 1.5rem;
}

#pairContainer {
  text-align: right;
}

#pairInfo {
  text-align: left;
}

.workTitle {
  margin: 0.2rem;
  font-size: 2rem;
}

.workDate {
  margin: 0;
  font-size: 1.1rem;
}

@media only screen and (max-width: 720px) {
  .workContainer {
    font-size: 1rem;
  }

  .workInfo {
    width: 38vw;
    margin-left: -2.2rem;
  }

  #pairInfo {
    margin-right: -2.5rem;
  }

  .workTitle {
    font-size: 1rem;
  }

  .workDate {
    font-size: 0.9rem;
  }
}
