.workContainer {
  font-size: 1.2rem;
}

.workContainer:first-of-type {
  margin-top: 4rem;
}

.workData {
  text-align: right;
  padding: 0.9rem;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.workData:last-of-type {
  margin-bottom: 1rem;
}

.workDataTitle {
  margin: 1rem;
  font-size: 2rem;
}

.workDataRole {
  margin: 0;
  font-size: 1.1rem;
}

#pairContainer {
  text-align: right;
}

#pairWorkData {
  text-align: left;
}

@media only screen and (max-width: 720px) {
  .workDataTitle {
    margin: 0.2rem;
    font-size: 1.1rem;
  }

  .workData {
    font-size: 0.8rem;
    margin-left: 0.7rem;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  }

  .workDataRole {
    margin: 0;
    font-size: 0.9rem;
  }

  #pairWorkData {
    margin-right: 0.7rem;
  }
}
