.certificationCard {
  padding: 0.5rem;
  width: 45%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.certificationLogo {
  height: 80px; /*´PONER EN VH*/
}

.certificationInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.certificationInfo label {
  font-weight: bold;
}

.certificationDescription {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.certificateLink {
  margin-top: 1rem;
  display: flex;
}

.certificateLink a {
  text-decoration: none;
  color: black;
}

.linkButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(116, 211, 240);
  width: max-content;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-family: 1rem;
  margin-right: 0.3rem;
}

.linkButton i {
  display: flex;
  align-items: center;
  mask-repeat: 4px;
}

@media only screen and (max-width: 720px) {
  .certificationCard {
    width: 100%;
    padding: 1rem;
  }
}
