.about {
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.aboutTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aboutInfo {
  font-size: 1.5rem;
}

.picture {
  height: 420px;
}

.infoName {
  color: blue;
  font-size: 2rem;
}

.buttonCv {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.buttonCv button {
  text-decoration: none;
  background-color: rgb(48, 46, 194);
  color: white;
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(48, 46, 194);
  cursor: pointer;
}

.buttonCv button:hover,
.buttonCv button:active {
  background-color: rgb(86, 84, 236);
  border-color: rgb(86, 84, 236);
}

.buttonCv i {
  margin-right: 1rem;
}

@media only screen and (max-width: 720px) {
  .aboutTop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
  }

  .aboutInfo {
    font-size: 1.25rem;
  }

  .picture {
    height: 280px;
  }

  .infoName {
    font-size: 1.6rem;
  }
}
